.button {
  display: inline-block;
  box-sizing: border-box;
  background: rgb(94, 94, 94);
  box-shadow: 2px 2px 1px 1px rgb(41, 41, 41);
  text-align: center;
  line-height: 2em;
  border-radius: 5px;
  margin: 1em 1em;
  width: 5em;
  height: 2em;
}
.button:hover {
  background: rgb(94, 94, 94);
  color: rgb(33, 175, 220);
  cursor: pointer;
}
.button:active {
  color: rgb(33, 175, 220);
  box-shadow: 2px 2px 1px 1px rgb(41, 41, 41) inset;
}