.button {
  background: rgb(94, 94, 94);
  color: white;
  text-align: center;
  line-height: 2em;
  border-radius: 5px;
  margin: 2em auto;
  width: 4em;
  height: 2em;
}
.button:hover {
  background: rgba(94, 94, 94, 0.5);
  cursor: pointer;
}
.button:active {
  color: black;
}