.slider-container {
  width: 100%;
}
.slider {
  background: rgba(0,0,0,0.3);

  width: 80%;
  height: 15px;
  outline: none;
  opacity: 0.7;

  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: opacity 0.2s;
  
  border: 1px solid black;
  border-radius: 15px;

  margin: 10px;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb { 
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer;
}
.slider::-moz-range-thumb {
  border: 2px solid white;
  border-radius: 15%;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgb(40, 168, 177); /* Green background */
  cursor: pointer; /* Cursor on hover */
}